/* Fonts */

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/gilroylight.woff2) format('woff2'), url(../fonts/gilroylight.woff) format('woff');
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/gilroyextrabold.woff2) format('woff2'), url(../fonts/gilroyextrabold.woff) format('woff');
  font-weight: 700;
  font-style: normal
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/opensanslight.woff2) format('woff2'), url(../fonts/opensanslight.woff) format('woff');
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: "Open Sans";
  src: url(../fonts/opensans.woff2) format('woff2'), url(../fonts/opensans.woff) format('woff');
  font-weight: 700;
  font-style: normal
}

:root {
  --gilroy: "Gilroy", Arial, sans-serif;
  --opensans: "Open Sans", Arial, sans-serif;
}

/* Additional normalization */

body {
  margin: 0
}

img {
  max-width: 100%
}

a {
  text-decoration: none
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Palette */

:root {
  --basic-black: #000000;
  --basic-extra-dark: #363636;
  --basic-dark: #464646;
  --basic-light: #7e7e7e;
  --basic-extra-light: #e5e5e5;
  --basic-white: #ffffff;

  --special-gold: #f0c52e;
  --special-pale: #f7e296;
  --special-vomit: #91c92f;

  --status-wrong: #f6dada;

  --pale-black: rgba(0, 0, 0, 0.6);
  --faint-black: rgba(0, 0, 0, 0.3);
  --pale-white: rgba(255, 255, 255, 0.7);
  --faint-white: rgba(255, 255, 255, 0.3);

  --nav-basic-gray: #ebebeb;
  --nav-focus-gray: #d9d9d9;
}

/* Shared styles */

.menu-list {
  font-family: var(--opensans);
  font-size: 15px;
  line-height: 20px;
  list-style: none;
}

/* Header */

.main-header {
  background-color: var(--special-pale);
}

.main-header__links {
  color: var(--basic-black);
  font-family: var(--gilroy);
  text-transform: uppercase;
  font-weight: 700;
  list-style: none;
  font-size: 18px;
  line-height: 22px;
}

.main-header__catalog-links {
  font-family: var(--opensans);
  text-transform: none;
  font-weight: 400;
  list-style: none;
  font-size: 15px;
  line-height: 20px;
}



.menu-list__link,
.catalog-links__link,
.main-header__link {
  color: var(--basic-black);
}

.menu-list__link:hover,
.catalog-links__link:hover,
.main-header__link:hover {
  color: var(--pale-black);
}

.menu-list__link:active,
.catalog-links__link:active,
.main-header__link:active{
  color: var(--faint-black);
}

.menu-list__exit-link {
  color: var(--faint-black);
}

/* Footer */

.main-footer {
  background-color: var(--basic-extra-dark);
}

.main-footer__adress {
  font-size: 15px;
  line-height: 20px;
  font-family: var(--opensans);
  color: var(--basic-white);
}

.main-footer__link {
  color: var(--basic-white);
  font-family: var(--opensans);
}

.menu-list__menu-link {
  color: var(--pale-white);
}

.menu-list__menu-link:hover {
  color: var(--basic-white);
}

.menu-list__menu-link:active {
  color: var(--faint-white);
}

.main-footer__nav-link {
  color: var(--basic-white);
  font-family: var(--gilroy);
  text-transform: uppercase;
  font-weight: 700;
  list-style: none;
  font-size: 18px;
  line-height: 22px;
}

.main-footer__nav-link:hover {
  color: var(--pale-white);
}

.main-footer__nav-link:active {
  color: var(--faint-white);
}


/* Main page */

.main-content {
  background-color: var(--basic-white);
}

/* Featured section */

.featured-slider__promo {
  font-family: var(--gilroy);
  font-weight: 700;
  font-size: 47px;
  line-height: 58px;
}

.featured-slider__feature {
  font-family: var(--opensans);
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

.featured-slider__link {
  color: var(--basic-black);
  font-family: var(--gilroy);
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}

.featured-slider__link:hover {
  color: var(--pale-black);
}

.featured-slider__link:active {
  color: var(--faint-black);
}

.featured-slider__parameter-value{
  font-family: var(--gilroy);
  font-size: 36px;
  line-height: 42px;
}

.featured-slider__parameter{
  font-family: var(--gilroy);
  font-size: 13px;
  line-height: 15px;
}

/* Categories section */

.product-categories__item {
  list-style: none;
  font-family: var(--gilroy);
  font-size: 18px;
  line-height: 22px;
}

.product-categories__link {
  color: var(--basic-black);
  font-family: var(--gilroy);
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.product-categories__link:hover {
  color: var(--pale-black);
}

.product-categories__link:active {
  color: var(--faint-black);
}

/* Services section */

.main-content__services {
  background-color: var(--basic-extra-light);
}

.services__control-buttons {
  list-style: none;
}

.services-slider {
  list-style: none;
}


.services__control-button{
  color: inherit;
  background-color: inherit;
  font-family: var(--gilroy);
  font-weight: 700;
  border-style: none;
  font-size: 18px;
  line-height: 22px;
  width:100%;
  text-align: left;
  cursor: pointer;

}

.services__control-item {
  color: var(--basic-black);
  list-style: none;
}

.services__control-item_selected {
  color: var(--special-gold);
  background-color: var(--basic-black);
}

.servies-slider__header {
  font-family: var(--gilroy);
  font-weight: 700;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;

}

.services-slider__text {
  font-family: var(--opensans);
  font-size: 15px;
  line-height: 28px;
}

/* Brands section */

.brand-list__item {
  list-style: none;
}

/* About section */

.about__header {
  font-family: var(--gilroy);
  font-weight: 700;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.about__text {
  font-family: var(--opensans);
  font-size: 15px;
  line-height: 28px;
}

.partner-list__item {
  font-family: var(--gilroy);
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
}

.about__link {
  color: inherit;
  font-family: var(--gilroy);
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}


/* Contacts section */

.contacts__header {
  font-family: var(--gilroy);
  font-weight: 700;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.contacts__text {
  font-family: var(--opensans);
  font-size: 15px;
  line-height: 28px;
}

.contacts__link {
  color: inherit;
  font-family: var(--gilroy);
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

/* Catalog */

.breadcrumbs__link {
  font-family: var(--opensans);
  font-size: 14px;
  line-height: 19px;
  color: var(--faint-black);
}

.breadcrumbs__item {
  list-style: none;
}

.catalog__filter-caption, .catalog__sort-caption {
  font-family: var(--gilroy);
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;

}

.sort-type-selector__link {
  color: var(--faint-black);
  font-family: var(--opensans);
  font-size: 14px;
  line-height: 19px;
}

.sort-type-selector__link:hover {
  color: var(--pale-black);
}

.sort-type-selector__link:active {
  color: var(--basic-black);
}

.sort-type-selector__link_selected {
  color: var(--basic-black);
}

.sort-type-selector__item {
  list-style: none;
}

.sort-dir-selector__item {
  list-style: none;
}

.product-list__caption {
  font-family: var(--gilroy);
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.product-list__price {
  font-family: var(--gilroy);
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.product-list__to-cart {
  font-family: var(--gilroy);
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  font-weight: 700;
  text-transform: uppercase;
  border-style: none;
  background-color: transparent;
}

.product-list__to-cart:active {
  color: var(--pale-black);
}

.product-list__to-compare {
  font-family: var(--opensans);
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  border-style: none;
  background-color: transparent;
  color: var(--pale-black);
}

.product-list__to-compare:hover {
  color: var(--basic-black);
}

.product-list__to-compare:active {
  color: var(--faint-black);
}

.pagination {
  background-color: var(--nav-basic-gray);
}

.pagination__nav {
  background-color: var(--nav-basic-gray);
}

.pagination__nav:hover {
  background-color: var(--nav-focus-gray);
}

.pagination__nav-link {
  color: var(--basic-black);
  font-family: var(--gilroy);
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 700;
}

.pagination__nav-link:active {
  color: var(--faint-black);
}

.pagination__link {
  color: var(--faint-black);
  font-family: var(--gilroy);
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  font-weight: 700;
}

.pagination__link_current {
  color: var(--basic-black);
}

.pagination__link:hover {
  color: var(--pale-black);
}

.pagination__link:active {
  color: var(--basic-black);
}

